body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color:#d8eef5;
}
.navbar{
  background-color: white !important;
}
.navbar-brand{
  font-size: 1.9rem !important;
  color: #565387 !important;
}
.navbar a{
  font-size: 1.3rem;
  text-transform: capitalize;
}
#header{
  width: 100%;
  height: 80vh;
  margin-top: 70px;

}
.img1 {
  
  height: 65px !important;
}
.image1{
  height: 21px !important;
  margin: 13px 15px;
}
#header h1{
margin: 50px 0 10px 0 !important;
font-size: 38px;
font-weight: 700;
color: black;
}
#header .brand-name{
  color:black;
  position: relative;
  top: 10%;
}

#header h2{
  color: #484848;
  font-size: 33px;
  font-weight: 600;
}
#header .btn-get-started{
  font-weight: 500;
 font-size: 27px;
 letter-spacing: 1px;
 display: inline-block;
 padding: 10px 17px;
 background: black;
 transition: 0.5s;
 color:white;
 
 text-decoration: none;
}

#header .btn-get-started:hover{
  background:white;
  color: black;
  

}


.menu_active{
font-weight: bold;
border-bottom: 1px solid #565387;
}
.navbar a:hover{
  color: cadetblue !important;
}
@media(max-width:991px){
  .navbar-brand{
    font-size: 1.5rem !important;
  }
  .menu_active{
    font-weight: bold;
    border-bottom: none;
  }
}